.principalCart{
  display: flex;
  flex-direction: column;
}

.principalCart__container{
  display: flex;
}

.principalCart__detail{
  padding-left: 27px;
}

.principalCart__detailGroup{
  display: flex;
  justify-content: space-between;
}

.principalCart__detail--trash{
  border-style: none;
  background-color: white;
}

.principalCart__detail--trash:hover{
  background-color: beige;
}

.principalCart__detail--value{
  font-weight: 100;
}

.principalCart__amount--am{
  padding: 10px;
}

.principalCart__detail--total{
  display: flex;
  justify-content: space-evenly;
}

.principalCart__detail--totalTitle{
  font-size: 33px;
}

.principalCart__detail--totalAmount{
  padding-left: 20px;
  display: flex;
  position: relative;
  font-size: 18px;
  top: 21px;
}

.principalCart__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principalCart__buttons--style{
  height: 50px;
  border-style: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.principalCart__buttons--style:hover{
  background-color: beige;
}
