.containerLogIn__inputs{
  display: flex;
  flex-direction: column;
  height: 476px;
  position: relative;
  background-color: #f5efdc;
  top: 69px;
  border-radius: 11px;
}

.containerLogIn__inputs--config{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 119px;
  align-items: center;
  justify-content: center;
}

.containerLogIn__inputs--configDetail{
  height: 51px;
  width: 90%;
  border-style: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.containerLogIn__inputs--btn{
  height: 48px;
  width: 79%;
  border-style: none;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #855726;
}

.containerLogIn__inputs--btn:hover{
  background-color:#d29c62;
}

@media(min-width:1200px){
  .containerLogIn__inputs{
    top: 30px;
    width: 50%;
    margin: auto;
  }

  .containerLogIn__inputs--config{
    padding: 31px;
  }
}
