.registerContainer__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  background-color: #f5efdc;
  padding: 20px;
  border-radius: 15px;
}

.registerContainer__form--input{
  height: 50px;
  width: 100%;
  border-style: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.registerContainer__form--btn{
  height: 50px;
  width: 100%;
  border-radius: 20px;
  border-style: none;
  background-color:#ececec;
}

.registerContainer__form--btn:hover{
  background-color:#b69776;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 74%;
  line-height: 24px;
}

.modal__content button {
  border-radius: 20px;
  border-style: none;
  height: 45px;
}

.modal__content button:hover{
  background-color:#b69776;
}

@media(min-width:1200px){
  .registerContainer__form{
    width: 30%;
    margin: auto;
  }

  .modal__content{
    width: 34%;
    justify-content: center;
    align-items: center;
  }

  .modal__content button{
    width: 50%;
  }
}
