@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap');

.containerCake__side2{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: initial;
}

.containerCake__image{
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: flex-end;
}

.containerCake___detail{
  align-items: center;
  font-weight: 500;
}

.containerCake__title{
  font-weight: 100;
}

.containerCake__submitBtn{
  width: 100%;
}

.containerCake__submitBtn--sub{
  border-style: none;
  height: 34px;
  width: 100%;
  border-radius: 15px;
}

.containerCake__submitBtn--sub:hover{
  background-color:#b69776;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 74%;
  line-height: 24px;
}

.modal__content button {
  border-radius: 20px;
  border-style: none;
  height: 35px;
}

.modal__content button:hover{
  background-color:#b69776;
}

@media(min-width:1200px){
  .containerCake__side2{
    padding-right: 60px;
    flex-direction: row;
  }

  .containerCake__description{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45px;
  }

  .containerCake__image{
    width: 30%;
    height: 70%;
  }

  .containerCake___detail{
    font-size: 20px;
  }

  .containerCake__submitBtn{
    width: 50%;
    padding-top: 15px;
  }

  .modal__content{
    width: 34%;
  }


}
